@import 'variables';
@import 'form';
@import 'buttons';
@import 'profile';
html {
    word-spacing: 1px;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
    height: 100%;
}

*,
*:before,
*:after {
    box-sizing: border-box;
    margin: 0;
}
  
body {
height: 100%;
font-size: 1em;
}

.container {
padding: 16px 16px;
width: 100%;
}


h1,h2,h3 {
    color: $font-color;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

.hidden {
    display: none;
}