@import 'variables';
.article-post {
    color: #9E9E9E;
}

.card {
    &_user {

    }
}

.dropbtn {
    border: none;
  }
  
  .dropdown {
    position: relative;
    display: flex;
  }
  
  .dropdown-content {
    font-weight: normal;
    display: none;
    right: 0;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    top: 60px;
    left: -100%;
    transition: left 0.7s;
    &.mini {
        min-width: 100px;
    }
  }
  
  .dropdown-content a {
    padding: 8px 16px;
    text-decoration: none;
    color: $text-base-color;
  }
  
  .dropdown-content a:hover {
    background-color: white;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }