@import './variables';
$heart-size: 16px;
$avatar-size: 32px;
.card {
    background-color: white;
    margin: 16px 0;
    &_user {
        display: flex;
        padding: 20px 0;
        &_image {
            img{
                width: 50px;
                height: 50px;
                border-radius: 25px;
            }
        }
        &_detail {
            margin-left: 10px;
            &_name {
                font-family: Poppins;
                font-weight: 700;
                font-size: 14px;
                line-height: 21px;
                color: #333333;
            }
            &_time {
                font-size: 12px;
                line-height: 18px;
                color: #9E9E9E;
            }
        }
    }
    &_image {

    }

    &_detail {
        padding: 5px 0;
        display: flex;
        img {
            margin-right: 10px;
            width: 20px;
            height: 20px;
        }
    }
    &_content {
        display: flex;
        align-items: center;
        &_caption {
            margin-left: 3px;
        }
    }
}