@import './variables';
input, select {
  &.text {
    width: 100%;
    margin: 8px 0px;
    padding: 16px 24px; 
    border: none;
    outline: none;
    border-bottom: 1px solid #9E9E9E;
    font-size: 34px;
    font-family: Poppins;
    margin: 28px 0;
  }
}
  
label {
  font-size: 26px;
  font-weight: 500;
  color: $text-base-color;
  line-height: 16.5px;
  margin: 18px 0;
}

textarea, trix-editor {
  width: 100%;
  height: 36px;
  padding: 8px 8px;
  font-size: 16px;
  border: none;
  border-bottom: 1px solid #9E9E9E;
}
.user-text-form {
  width: 100%;
  margin: 8px 0px;
  padding: 8px 8px;
  min-height: 440px;
  resize: vertical;
  border: none;
  &.sm {
    min-height: 160px;
  }
}

.devise-links {
  a {
    text-decoration: none;
    float: right;
    color: rgba(204, 204, 204, 1);
    font-size: 16px;
  }
}

.session-image {
  margin-bottom: 70px;
}

.form-image{
  margin: 20px;
}

.label-post-album {
  padding: 10px 25px;
  width: 120px;
  text-align: center;
  border: 1px solid #E0E0E0;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  display: flex;
  align-items: center;
  color: #4F4F4F;
}

.user_info {
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  height: 80px;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  .post-btn {
    margin-left: auto;
    color: #BDBDBD;
    background-color: white;
    border: none;
  }
  &_name {
    margin-left: 10px;
  }
}